<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.taxi.newtaxi">

    <permission
        android:name="app.taxi.newtaxi.Map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.taxi.newtaxi.Map.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="T.T"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".advertisement"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Login_simple"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".History_simple" />
        <activity
            android:name=".Charge_simple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".My_simple"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".My_taxi_simple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Posting_simple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Permission"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Join_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Post_Call"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Posting" />
        <activity android:name=".Selector" />
        <activity
            android:name=".Map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Charge" />
        <activity android:name=".KakaoSignupActivity" />
        <activity
            android:name=".My"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Join"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".main_simple"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".client"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".My_taxi"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f52f753a188af1f4a94675df073415b8" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtm4wPcDd_6aJu1NGIW-FoGU4_2TCf4Zw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>